<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.FollowDao">

<!-- 팔로우 등록 -->
<insert id="insertFollow" parameterType="Follow">
INSERT INTO follow()
VALUES (#{userId},#{followingId});

</insert>

<!-- 나의 팔로우 목록 -->
<select id="selectAll" parameterType="String" resultType="Follow">
SELECT *
FROM follow
WHERE userId = #{userId};
</select>

<!-- 팔로우 취소 -->
<delete id="deleteFollow" parameterType="Map">
DELETE FROM follow
WHERE userId = #{userId} AND followingID = #{followingId};

</delete>

<!-- 팔로우한 외원들이 찜한 영상 조회 -->
<select id="selectWished" resultType="Video" parameterType="String">
SELECT DISTINCT v.youtubeId, v.title, v.fitPartName, v.channelName, v.url, v.viewCnt
FROM follow f
JOIN wished w ON f.followingId = w.userId
JOIN videos v ON w.videoId = v.youtubeId
WHERE f.userId = #{userId};

</select>

</mapper>